 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% if session[:challenge_name].present? %>
      <h2 class="govuk-heading-l">Log in - One Time Password Request</h2>

      <p class="govuk-body-l">Please enter your one time code from
      <%= session[:challenge_parameters]["FRIENDLY_DEVICE_NAME"] %>.</p>

      
      <%= render "mfa_form", f:f %>

  <% else %>
      <h2 class="govuk-heading-l">Log in</h2>
    
      <%= render "sign_in_form", f:f %>
  <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: "govuk-button" %>
    </div>
<% end %>
<%= render "devise/shared/links" %>
